include _app

doctype html
html(lang="es")
  +head
    style.
      .hide-mx {display: none !important; }

body(data-spy="scroll" data-target=".navbar" data-offset="80")

  include modulos/_header
  +header(false, 'index.html', 'noticias', true)
  
  section
    .container
      .row.justify-content-center
        .col.text-center
          h2(data-l="News") Noticias
      
      +mainNew
    

  +footer(true)
  +scripts

    