include _app

doctype html
html(lang="es")
  +head
    style.
      .hide-mx {display: none !important; }

body(data-spy="scroll" data-target=".navbar" data-offset="80")

  include modulos/_header
  +header(false, 'index.html', 'noticias_articulo', true)
  
  section.fullNew
    .container
      .row.justify-content-center
        .col.text-center
          h2(data-l="-" data-parse="titulo") -
      .row.justify-content-center.vertical-align.mt-5
        .col-md-12: img(src="-" alt="Noticias" data-parse="image").d-none.d-md-block.w-100
        .col-md-8
          p.small(data-l="-" data-parse="fecha") -
          p(data-parse="intro" data-l="-") -
          div(data-l="" data-parse="nota") -
          hr
          p(data-l="Blue Pure Loyalty® is the leading marketing and technological company in building loyalty to a Brand, its end customers, employees, sales agents, sales channels and products and services, offering the design, development, operation, administration and continuous improvement of Loyalty Programs and Incentive Programs, Business Intelligence & CRM, E-Commerce & On-line Stores and Digital Marketing. For 14 years Blue Pure Loyalty ® has collaborated and advised renowned companies such as Gandhi bookstores, Lumen, Cielito Querido Café, Cinepolis, Samsung, Waldo´s, Grainger, Castrol, CostaBaja, Meliá Hotels, among others.") Blue Pure Loyalty® es la empresa de Mercadotecnia y Tecnología líder en construir lealtad de clientes finales, fuerza de ventas, canal de ventas y empleados hacia la marca, empresa, productos y servicios de sus clientes, ofreciendo el diseño, desarrollo, operación, administración y mejora continua de Programas de Lealtad, Programas de Incentivos, Business Intelligence & CRM, E-Commerce & Tiendas en Línea y Mercadotecnia Digital. Durante 14 años Blue Pure Loyalty® ha prestado sus servicios y asesorado a reconocidas empresas tales como librerías Gandhi, Lumen, Cielito Querido Café, Cinépolis, Samsung, Waldo´s, Grainger, Castrol, CostaBaja, Hoteles Meliá, entre otros.
          p(data-l="More information: https://www.bluepureloyalty.com") Mas información: https://www.bluepureloyalty.com
          p(data-l="Email: info@bluepureloyalty.com") Correo electrónico: info@bluepureloyalty.com 

    .row.justify-content-center.mt-5
      a(href="noticias.html" data-l="More news").btn.btn-secondary.hide-us Ver más noticias
    

  +footer(true)
  +scripts

    