include _app

doctype html
html(lang="es")
  +head

body(data-spy="scroll" data-target=".navbar" data-offset="80")

  include modulos/_header
  +header(true, 'index_us.html', 'noticias_articulo', true)
  
  section.fullNew
    .container
      .row.justify-content-center
        .col.text-center
          h2(data-l="Diablos Rojos of Mexico will launch the club´s Loyalty Program “Club Diablos” y “Club Diablos Kids”." data-parse="titulo") Diablos Rojos de México lanzará el Programa de Lealtad “Club Diablos” y “Club Diablos Kids”.
      .row.justify-content-center.vertical-align.mt-5
        .col-md-12: img(src="https://source.unsplash.com/yXdJ8QVZlIA/548x300" alt="Noticias" data-parse="image").d-block.w-100
        .col-md-8
          p.small(data-l="Mexico City, February 28, 2019." data-parse="fecha") Ciudad de México, 28 de febrero de 2019.
          p(data-parse="intro" data-l="Diablos Rojos of Mexico have thrown the first pitch at the most ambitious and successful project in sports of Mexico. Uniting their talent with the leading company in Loyalty Programs, Blue Pure Loyalty, together create the first Loyalty Program for baseball fans “Club Diablos” & “Club Diablos Kids” thought out to reward their fans loyalty for their love of their team.") Diablos Rojos del México es el primero en lanzar la pelota al proyecto más ambicioso y exitoso del deporte en México. Uniendo su talento junto con la empresa líder en Programas de Lealtad, Blue Pure Loyalty, crean el primer programa pensado en la afición beisbolera “Club Diablos” y “Club Diablos Kids” pensando en recompensar y premiar la lealtad de su afición por el amor a su equipo.
          div(data-l="" data-parse="nota")
          //p(data-l="Augusto Fernández CEO of Blue Pure Loyalty stated ¨ Teaming up with Diablos Rojos of Mexico is a unique experience because we thought of all the fans who come out to motivate their players in each match and the benefits offered by the program will motivate them even more to be part of Diablos Rojos of Mexico¨") Augusto Fernández CEO de Blue Pure Loyalty comentó: “Formar equipo con Diablos Rojos del México es una experiencia única, porque pensamos en todos los seguidores que acuden a motivar a sus jugadores en cada encuentro y los beneficios que ofrece el programa los motivará aún más a sentirse orgullosos de formar parte de los Diablos Rojos“.
          //p(data-l="The sport and Loyalty leave their entire efforts out on the ball field because with “Club Diablos” & “Club Diablos Kids” there is no tiebreaker as everyone wins.") El deporte y la lealtad dejan todos sus esfuerzos en el diamante, porque con “Club Diablos” y “Club Diablos Kids” no hay empate porque todos ganamos.
          p(data-l="Blue Pure Loyalty® is the leading marketing and technological company in building loyalty to a Brand, its end customers, employees, sales agents, sales channels and products and services, offering the design, development, operation, administration and continuous improvement of Loyalty Programs and Incentive Programs. For 14 years Blue Pure Loyalty ® has collaborated and advised renowned companies such as como Samsung, Grainger, Castrol, CostaBaja, Meliá Hotels, among others.") Blue Pure Loyalty® es la empresa de Mercadotecnia y Tecnología líder en construir lealtad de clientes finales, fuerza de ventas, canal de ventas y empleados hacia la marca, empresa, productos y servicios de sus clientes, ofreciendo el diseño, desarrollo, operación, administración y mejora continua de Programas de Lealtad, Programas de Incentivos, Business Intelligence & CRM y Mercadotecnia Digital. Durante 14 años Blue Pure Loyalty® ha prestado sus servicios y asesorado a reconocidas empresas tales como Samsung, Grainger, Castrol, CostaBaja, Hoteles Meliá, entre otros.
          p(data-l="More information: https://www.bluepureloyalty.com") Mas información: https://www.bluepureloyalty.com
          p(data-l="Email: info@bluepureloyalty.com") Correo electrónico: info@bluepureloyalty.com 

    .row.justify-content-center.mt-5
      a(href="noticias_us.html" data-l="More news").btn.btn-secondary.hide-mx Ver más noticias
    

  +footer(false)
  +scripts

    