include _app

doctype html
html(lang="es")
  +head
    style.
      .hide-mx {display: none !important; }

body(data-spy="scroll" data-target=".navbar" data-offset="80")

  include modulos/_header
  +header(false, 'index.html', 'noticias', true)
  
  section
    .container
      .row.justify-content-center
        .col.text-center
          h2(data-l="News") Noticias
      
      .latestNew: +mainNew
      .secondNew: +mainNew

      .row.justify-content-center.mt-5.pt-5
        a(href="index.html" data-l="Back").btn.btn-secondary.hide-us Regresar
        a(href="index_us.html" data-l="Back").btn.btn-secondary.hide-mx Regresar
  +footer(true)
  +scripts

    