section#blue-wallet
  .container
    .row.justify-content-center
      .col.text-center
        img(src="app/img/bwallet/bwallet.png", alt="Blue Wallet").img-fluid
        h3.mt-2(data-l="KEEP ALL YOUR LOYALTY PROGRAM AND INCENTIVE CARDS HANDY.") TEN TODAS TUS TARJETAS DE LEALTAD A LA MANO®
    

    .row.justify-content-center.vertical-align.mt-2
        .col-md-3.col-12.text-center.blwalleticon: img(src="app/img/bwallet/bw.png" alt="Blue Wallet App").img-fluid
        .col
            ul
                li(data-l="Sign Up") Regístrate
                li(data-l="Generate your Virtual card for each program") Genera tu Tarjeta Virtual de cada programa
                li(data-l="Earn and Redeem points") Acumula y Canjea Puntos
                li(data-l="Check your status, balance and transactions") Consulta tu Saldo y Movimientos
                li(data-l="Locate the nearest stores") Ubica las Tiendas más cercanas
                li(data-l="Receive Special Promotions") Recibe Promociones especiales
                li(data-l="And much more") Y mucho más
            h4.text-center.mt-5(data-l="DOWNLOAD FOR FREE RIGHT NOW!") ¡DESCÁRGALA GRATIS AHORA MISMO!
            .row.text-center.mt-3.mb-2
                a(href="https://play.google.com/store/apps/details?id=com.bluepureloyalty.BlueWallet" target="_blank").col: img(src="app/img/bwallet/google-play.png" alt="Descargar en Google Play").img-fluid
                a(href="https://itunes.apple.com/us/app/bluewallet/id1202908122?mt=8" target="_blank").col: img(src="app/img/bwallet/app-store.png" alt="Descargar en App Store").img-fluid
        .col-md-4.col-12: img(src="app/img/bwallet/descarga.png" alt="Blue Wallet App").img-fluid