section#contacto
  .container
    .row.justify-content-center
      .col.text-center
        h2(data-l="DISCOVER THE POWER OF LOYALTY").mb-5 DESCUBRE EL PODER DE LA LEALTAD
        //h3(data-l="CONTACT US") CONTÁCTANOS
        //p: a(href="mailto:info@bluepureloyalty.com").btn.btn-secondary info@bluepureloyalty.com
        //p: a(href="tel:5521673200").btn.btn-default +(55) 2167 3200
    .row.justify-content-center.text-center
      .col-md-4.col-12
        h3 MÉXICO
        p
          span(data-l="From 9:00 to 18:00 hours") De 9:00 a 18:00 horas
          br
          span(data-l="Mexico Central Time") Hora del centro de México
          br
          span(data-l="Monday to Friday") Lunes a Viernes
        p: a(href="mailto:info@bluepureloyalty.mx").btn.btn-default info@bluepureloyalty.mx
        p: a(href="tel:5521673200").btn.btn-default +(55) 2167 3200
      .col-md-4.col-12
        h3 USA
        p
          span(data-l="From 9:00 to 18:00 hours") De 9:00 a 18:00 horas
          br
          span(data-l="Mexico Central Time") Hora del centro de México
          br
          span(data-l="Monday to Friday") Lunes a Viernes
        p: a(href="mailto:info@bluepureloyalty.com").btn.btn-default info@bluepureloyalty.com
        p: a(href="tel:18442170744").btn.btn-default +1 844 217 0744