section#fortalezas
  .container
    .row.justify-content-center
      .col.text-center
        h2(data-l="Strenghts") Fortalezas
        h3(data-l="LOYALTY PROGRAMS THAT GENERATE BUSINESS®") PROGRAMAS DE LEALTAD QUE GENERAN NEGOCIO®
    .row.justify-content-center.vertical-align.mt-5
      .col-md-4: img(src="app/img/fortalezas/experiencia.jpg" alt="Experiencia").d-none.d-md-block.w-100
      .col-md-8.text-center
        h4.mt-3(data-l="EXPERIENCE") EXPERIENCIA
        img(src="app/img/fortalezas/experiencia.jpg" alt="Experiencia").d-block.d-md-none.w-100
        p(data-l="Proven experience, strategic thinking and business creativity are our settling pillars. Our founder and CEO was a member of the founding team of Ticketmaster in Mexico. In 1996, he was the mastermind of Aeromexico’s Frequent Flyer Program, Club Premier and also a member of the founding team of SkyTeam in 2000. He was responsible for Club Premier´s growth up to 2005 when he decided to found <strong>Blue Pure Loyalty®</strong>.") Experiencia probada, pensamiento estratégico y creatividad de negocio. Nuestro Fundador y Director General fue miembro del equipo fundador de Ticketmaster México, creador de Club Premier de Aeroméxico en 1996 y miembro del equipo fundador de SkyTeam en el año 2000, fue responsable del crecimiento de Club Premier hasta 2005 que funda <strong>Blue Pure Loyalty®</strong>.
        p.hide-us(data-l="For over 14 years, <strong>Blue Pure Loyalty®</strong> has set the lead in the development of Loyalty and Incentive Programs. Experts in the areas of Technology, Marketing, Business Intelligence, Design & Communication, Social Media, among others, provide all the expertise in the aim of developing the best Loyalty and Incentive Programs of the industry. Therefore, <strong>Blue Pure Loyalty®</strong> has had the privilege of working for renowned companies such as Gandhi, Lumen, Cielito Querido Café, Samsung, Waldo's, Grainger, Castrol, CostaBaja, Meliá Hotels, among others.") Durante 14 años <strong>Blue Pure Loyalty®</strong> ha sido la empresa líder en Programas de Lealtad y de Incentivos destacándose por su equipo de expertos en Tecnología, Marketing, Business Intelligence, Diseño y Comunicación, Redes Sociales, entre otros, brindando toda la experiencia necesaria para el desarrollo de los mejores Programas de Lealtad y de Incentivos. <strong>Blue Pure Loyalty®</strong> ha prestado sus servicios y asesorado a reconocidas empresas tales como librerías Gandhi, Lumen, Cielito Querido Café, Cinépolis, Samsung, Waldo´s, Grainger, Castrol, CostaBaja y Hoteles Meliá.
        p.hide-mx(data-l="For over 14 years, <strong>Blue Pure Loyalty®</strong> has set the lead in the development of Loyalty and Incentive Programs. Experts in the areas of Technology, Marketing, Business Intelligence, Design & Communication, among others provide all the expertise in the aim of developing the best Loyalty and Incentive Programs of the industry. Threrefore, <strong>Blue Pure Loyalty®</strong> has had the privilege of working for renowned companies such as Samsung, Grainger, Castrol, CostaBaja, Meliá Hotels, among others.") Durante 14 años <strong>Blue Pure Loyalty®</strong> ha sido la empresa líder en Programas de Lealtad y de Incentivos destacándose por su equipo de expertos en Tecnología, Marketing, Business Intelligence, Diseño y Comunicación, entre otros, brindando toda la experiencia necesaria para el desarrollo de los mejores Programas de Lealtad y de Incentivos. <strong>Blue Pure Loyalty®</strong> ha prestado sus servicios y asesorado a reconocidas empresas tales como Samsung, Grainger, Castrol, CostaBaja, Hoteles Meliá, entre otros.

    .row.justify-content-center.vertical-align.mt-5 
      .col-md-8.text-center
        h4.mt-3(data-l="TURNKEY SOLUTION") SOLUCIONES LLAVE EN MANO
        img(src="app/img/fortalezas/soluciones_llave_en_mano.jpg" alt="Soluciones llave en mano").d-block.d-md-none.w-100
        p(data-l="<strong>Blue Pure Loyalty®</strong> delivers a full range of services to offer simple, efficient and complete solutions that provide robust compensation models that support the profitability of the Loyalty and Incentive Programs. In addition, the services provided are flexible and modularly configured so they can adapt to the needs of each customer allowing to offer turnkey solutions, freeing of operational work load to our customers.") <strong>Blue Pure Loyalty®</strong> cuenta con toda la gama de servicios necesarios para ofrecer soluciones integrales, simples y eficientes que permiten ofrecer modelos de compensación que apoyan la rentabilidad de los Programas de Lealtad y de Incentivos. Los servicios proporcionados son flexibles y modulares, y se adaptan a las necesidades de cada uno de los clientes. El enfoque de solución que nuestra empresa ofrece, permite entregar proyectos llave en mano, liberando así, la carga de trabajo operacional a nuestros clientes.
      .col-md-4: img(src="app/img/fortalezas/soluciones_llave_en_mano.jpg" alt="Soluciones llave en mano").d-none.d-md-block.w-100

    .row.justify-content-center.vertical-align.mt-5
      .col-md-4: img(src="app/img/fortalezas/innovacion.jpg" alt="Innovación").d-none.d-md-block.w-100
      .col-md-8.text-center
        h4.mt-3(data-l="TECHNOLOGY & INNOVATION") TECNOLOGÍA E INNOVACIÓN
        img(src="app/img/fortalezas/innovacion.jpg" alt="Innovación").d-block.d-md-none.w-100
        p(data-l="Ground breaking, attractive and efficient Loyalty or Incentive Programs based on the customer’s business expertise implemented throughout <strong>Blue Pure Loyalty®'s</strong> proprietary technology and applications developed on flexible and robust platforms such as <strong>Blue Engine®, Blue Link®, Blue Module®, Blue Panel®, Blue CRM & Business Intelligence®</strong>, to name a few.") Programas de Lealtad y de Incentivos innovadores, atractivos y eficientes basados en el conocimiento del cliente y respaldados con tecnología y aplicaciones propietarias desarrolladas en plataformas flexibles y robustas, contando con aplicativos tecnológicos como <strong>Blue Engine®, Blue Link®, Blue Module®, Blue Panel®, Blue CRM & Business Intelligence®</strong>, entre otros.
    
    .row.justify-content-center.vertical-align.mt-5
      .col-md-8.text-center
        h4.mt-3(data-l="STRATEGIC THINKING") PENSAMIENTO ESTRATÉGICO
        img(src="app/img/fortalezas/pensamiento_estrategico.jpg" alt="Valor agregado").d-block.d-md-none.w-100
        p(data-l="Creative way of thinking oriented to produce business initiatives, that result in the creation of value proposals and competitive advantages to our customers with a broad focus on the achievement of their business objectives.") Pensamiento creativo orientado a generar resultados de negocio basado en el análisis y creación de propuestas de valor y ventaja competitiva para nuestros clientes con un amplio enfoque en el cumplimiento de sus objetivos de negocio.
      .col-md-4: img(src="app/img/fortalezas/pensamiento_estrategico.jpg" alt="Valor agregado").d-none.d-md-block.w-100


    .row.justify-content-center.vertical-align.mt-5.hide-us
      .col-md-4: img(src="app/img/fortalezas/valor_agregado.jpg" alt="Valor agregado").d-none.d-md-block.w-100
      .col-md-8.text-center
        h4.mt-3(data-l="ADDED VALUE") VALOR AGREGADO
        img(src="app/img/fortalezas/valor_agregado.jpg" alt="Valor agregado").d-block.d-md-none.w-100
        p(data-l="Experienced negotiation skills and widespread network of commercial relationships available to our customers that allows to enrich the Loyalty or Incentive Programs as required.") Habilidad de negociación probada y amplia red de relaciones comerciales con empresas nacionales e internacionales cuyos acuerdos comerciales están a disposición de nuestros clientes y permiten enriquecer los Programas de Lealtad y Programas de Incentivos.

    .row.justify-content-center.vertical-align.mt-5
      .col-md-4.hide-mx: img(src="app/img/fortalezas/exitos_probados.jpg").d-none.d-md-block.w-100
      .col-md-8.text-center
        h4.mt-3(data-l="SUCCESS STORIES") ÉXITOS PROBADOS
        img(src="app/img/fortalezas/exitos_probados.jpg").d-block.d-md-none.w-100
        p(data-l="Results-oriented pragmatism. Since the foundation of <strong>Blue Pure Loyalty®</strong>, we have designed, developed and managed innovative and successful Loyalty and Incentive Programs, that have enabled us to achieve the trust of our customers for years, by generating business opportunities and developing over time, loyalty from their end customers, sales agents and employees.") Pragmatismo orientado a resultados. Desde su fundación, <strong>Blue Pure Loyalty®</strong> se ha caracterizado por diseñar, implementar, desarrollar y administrar Programas de Lealtad y Programas de Incentivos innovadores y exitosos. Esto nos ha permitido lograr la confianza de nuestros clientes por años, al generarles negocio y desarrollando con el paso del tiempo la lealtad de sus clientes finales, fuerza de ventas, canal de ventas y empleados.
      .col-md-4.hide-us: img(src="app/img/fortalezas/exitos_probados.jpg").d-none.d-md-block.w-100
