section#suscribete
    .container
      .row.justify-content-center
        .col.text-center
          h3(data-l="SIGN UP FOR OUR NEWSLETTER").signupTitle SUSCRÍBETE A NUESTRO NEWSLETTER
      .row.justify-content-center
        .col-8
          form(action="").form-inline.text-center#newsletterform
            input(type="email" placeholder="Email" required).form-control
            button(type="submit" data-l="Sign Up").btn.btn-primary Suscribirme