section#noticias
  .container
    .row.justify-content-center
      .col.text-center
        h2(data-l="News") Noticias
    
    +mainNew
    .row.justify-content-center.mt-2
      a(href="noticias.html" data-l="More news").btn.btn-secondary.hide-us Ver más noticias
      a(href="noticias_us.html" data-l="More news").btn.btn-secondary.hide-mx Ver más noticias