section#quienes-somos
  .container
    .row.justify-content-center
      .col.text-center: h2(data-l="About Us") ¿Quiénes somos?
    .row.justify-content-center
      .col-md-8.col-xs.text-center
        p(data-l="<strong>Blue Pure Loyalty®</strong>  is the leading marketing and technological company in building loyalty to a Brand, its end customers, sales agents, sales channels, employees and products and services, influencing their behavior in a positive and effective way consistently increasing profitability margins, sales, satisfaction and loyalty through time.") <strong>Blue Pure Loyalty ®</strong> es la empresa de Mercadotecnia y Tecnología líder en construir lealtad de los clientes finales, fuerza de ventas, canal de ventas y empleados hacia la marca, empresa, productos y servicios de nuestros clientes, influyendo en su comportamiento de manera positiva y efectiva logrando aumentar consistentemente la rentabilidad, las ventas, su satisfacción y su lealtad con el paso del tiempo.

  .container
    .row.justify-content-center.text-center.mt-2
      a(href="#programas-de-lealtad-y-de-programas-de-incentivos").smooth-scroll.col-sm-12.col-md.servicio-item
        img(src="app/img/ico/ico_programas_de_lealtad.png", alt="Programas de lealtad")
        p(data-l="LOYALTY PROGRAMS & INCENTIVE PROGRAMS") PROGRAMAS DE LEALTAD Y PROGRAMAS DE INCENTIVOS
      a(href="#business-intelligence-crm").smooth-scroll.col-sm-12.col-md.servicio-item
        img(src="app/img/ico/ico_blue_crm.png", alt="Programas de lealtad")
        p CRM & BUSINESS INTELLIGENCE
      a(href="#e-commerce-tienda-en-linea").smooth-scroll.col-sm-12.col-md.servicio-item#quienes-ecommerce
        img(src="app/img/ico/ico_blue_ecommerce.png", alt="Programas de lealtad")
        p E-COMMERCE
      a(href="#mercadotecnia-digital").smooth-scroll.col-sm-12.col-md.servicio-item
        img(src="app/img/ico/ico_mercadotecnia_digital.png", alt="Programas de lealtad")
        p(data-l="DIGITAL MARKETING") MERCADOTECNIA DIGITAL
      
      
    .row.justify-content-center.mt-2
      .col-md-8.col-xs.text-center
        p(data-l="Our company offers the design, development, operation, management and continuous improvement of Loyalty and Incentive Programs, Business Intelligence & CRM<span class='hide-us'>, e-Commerce & Online Stores</span> and Digital Marketing.") Ofrecemos el diseño, desarrollo, operación, administración y mejora continua de Programas de Lealtad, Programas de Incentivos, Business Intelligence & CRM #[span.hide-us , E-Commerce & Tiendas en Línea] y Mercadotecnia Digital.

