section#resultados
  .container
    .row.justify-content-center
      .col-md-8.col-xs.text-center
        h2(data-l="Results") Resultados
        p(data-l="Our Loyalty Programs and Incentive Programs generate proven results, increasing the value of the brand and the loyalty of end customers, sales agents, sales channels and employees over the course time.") Nuestros Programas de Lealtad y Programas de Incentivos generan resultados probados, logrando incrementar el valor de marca y la lealtad de los clientes finales, fuerza de ventas, canal de ventas y empleados con el paso del tiempo.
        img(src="app/img/resultados.svg", alt="Resultados" data-l-src="app/img/results.svg").resultsimg